name: Build and Publish Docker Image

on:
  push:
  release:
    types: ["published"]

jobs:
  publish-container-image:
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@v1.7.2
    with:
      image-name: graphql-gateway
    secrets: inherit

  publish-kustomize-bundles:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-kustomize-bundle.yaml@v1.7.2
    with:
      bundle-name: ghcr.io/datum-cloud/graphql-gateway-kustomize
      bundle-path: config
      image-overlays: config/base
      image-name: ghcr.io/datum-cloud/graphql-gateway
    secrets: inherit
